* {
    margin: 10px;
    box-sizing: border-box;
}

/* Navbar css alanı başlangıcı */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.navbar__logo img {
    width: 200px;
}

/* Navbar css alanı sonu */
/* intro css alanı başlangıcı */
.intro {
    margin-top: 120px;
    display: flex;
    height: 500px;
}

.intro__left {
    width: 50%;
}
.intro__left .intro__left__bold {
    font-size: 40px;
}

.intro__left .learn-from-me-button {
    background-color: #0072c6;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
}

.learn-from-me-button:hover {
    background-color: #005ea8;
}

.intro__right {
    width: 50%;
    position: relative;
}
.intro__right__üst--img img {
    width: 90%;
    position: absolute;
    left: 37%;
    top: 42%;
    transform: translate(-46%, -68%);
}
.intro__right__alt--img img {
    width: 60%;
    position: absolute;
    left: 37%;
    top: 42%;
    transform: translate(-36%, -41%);
    z-index: -1;
}

.intro::after {
    content: "";
    display: table;
    clear: both;
}
/* intro css alanı sonu */
/* what I do css başlangıcı */
.whatIDo__text {
    text-align: center;
    margin-top: 100px;
}
.whatIDo__cards {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.whatIDo__cards__card {
    margin: 50px;
    width: 25%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    height: 500px;
    box-shadow: 10px 10px 3px grey;
    position: relative;
}

.whatIDo__cards__card__img {
    width: 25%;
    margin: 20px;
}

.whatIDo__cards__card__link {
   position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
}
/* what I do css sonu */

/* featured css baslangici */

.featured__body__top{
    display: flex;
}

.featured__body__top__img{
    width: 100%;
    height: auto;
}

.featured__body__top__img img{
    width: 100%;
}


/* featured css sonu */